@include aoa-bg-series($bg__init,$classes_init);

.about{
    &-s1{
        background-position-x: 68%!important;
    }
    &-s2{
        background-position-x: 35%!important;
    }
}
.index{
    &-s1{
        background-position-x: 68%!important;
    }
}
.location{
    &-s1{
        background-position-x: 48%!important;
    }
}
.menu{
    &-s1{
        background-position-x: 60%!important;
    }
    &-s3{
        background-color: #666!important;
        background-blend-mode: multiply!important;
    }
}

.text{
    &-shadow{
        text-shadow: $text__shadow;
    }
}

nav{
    z-index: 10;
}

textarea{
    resize: none;
}

@media all and (max-width: 767px){
    .about{
        &-s1,&-s2{
            *{
                color: #fff !important;
                text-shadow: $text__shadow;
            }
            background-color: #666!important;
            background-blend-mode: multiply!important;
        }
        &-s1{
            background-position: right!important;
        }
    }
    .contact,.index,.location{
        &-s1{
            *{
                color: #fff !important;
                text-shadow: $text__shadow;
            }
            background-color: #666!important;
            background-blend-mode: multiply!important;
        }
    }
    .location{
        &-s1{
            background-position: right!important;
        }
    }
    .menu{
        &-s1,&-s3{
            *{
                color: #fff !important;
                text-shadow: $text__shadow;
            }
            background-color: #666!important;
            background-blend-mode: multiply!important;
        }
    }
    .navbar{
        &-nav{
            *{
                &:hover{
                    opacity: 0.8;
                }
                color: #fff !important;
                text-shadow: $text__shadow;
            }
            background-color: #666!important;
            background-blend-mode: multiply!important;
            opacity:0.9;
        }
    }
}